html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#header_menu
{
    display: flex;
    justify-content: space-between;

}
.menu_left
{
    display: flex;
    align-items: center;
    padding: 30px;

}
.main_menu{
    display: flex;
    
}
.menu_right
{
    display: flex;
    padding: 15px;
    align-items: center;
    margin-right: 30px;
}
.logo
{
    margin-right: 60px;
}
.item
{
    margin-right: 20px;
}
.search
{
    position: relative;
    width: 300px;
    height: 35px;
    background-color:#D5DBE2;
    margin-right: 20px;
    border-radius: 3px;
   
}
.content_search
{
    position: absolute;
    top: 10px;
    left: 30px;
}
.ti-search
{
    position: absolute;
    top:10px;
    left: 10px  ;
    
}
.right_item
{
    margin-right: 20px;
}
#center .container
{
    margin: 0 140px;
}
.sub_menu div 
{
    display: inline;
}
.sub_menu
{
    margin-top: 30px;
}
.center_top
{
    margin-top: 60px;
}
.product_title
{
    margin-top: 30px;
    font-size: 50px;
}
.ratting{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.right div{
    display: inline-block;
    margin-right: 20px;
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    
    'menu main right '
    'menu footer header';
  gap: 1px;
  margin-top: 20px;
  
  
}

.grid-container > div {
  text-align: center;
  padding: 1px 0;
  font-size: 20px;
}
.product_description
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.left_content .p{
    margin-top: 30px;
}
.left_content .right_icon{
    margin-left: 30px;
}
.pd-15
{
    padding: 10px;
}
.product_description .right{
   
}
.product_description .left .left_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .icon{
    margin-top: 40px;
 }
.right .price
{
    display: flex;
    justify-content: end;
    color: darkcyan;
    font-size: 40px;
} 
.custom{
    margin-top: 15px;
}
 .custom .custom_content{
    width: 300px;
    height: 35px;
    background-color: aliceblue;
    border-radius: 5px;
    position: relative;
    margin-top: 15px;
 }
 .custom .custom_content .down{
    position: absolute; 
    top:10px;
     left:280px;
 }
 .custom_content span{
    position: absolute;
    top: 10px;
 }
.right .sum
{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.right .buy div{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    background-color:darkcyan ;
    margin-top: 15px;
}
.right .buy span{
    position: absolute;
    top: 15px;
    left: 120px;
    

}
.review
{

    margin-top: 120px;
}
.review_top
{
    display: flex;
    justify-content: space-between;
}
.review_top .review_top_left
{
    position: relative;
}
.review_top_left img 
{
    position: absolute;
    top: 5px;
    left: 110px;
}
.review_top_left .rate{
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 135px;
}
.review_top_right{
    position: relative;
}
.review_top_right .i{
    position: absolute;
    top: 0px;
    left: 120px;
}
.review_bottom{
    display: flex; 
    justify-content: space-between;
}
.review_bottom .rvparent{
    
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}
.review_bottom .content{
    position: relative;
    margin-top: 10px;
    padding: 30px;
}
.review_bottom .content div{
    position: absolute;
    top: 30px;
    font-size: 18px;
    left: 75px;
}
.review_bottom .content span{
    position: absolute;
    top: 30px;
    left: 180px;
}
.related_products_top{
    display: flex;
    justify-content: space-between;
}
.related_products_top .icon_right{
    position: absolute;
    top: 0px;
    left: 65px;
}

.lasted_product_bottom .bottom_item
{
    position: relative;
    margin-top: 15px;
    
}
.bottom_item .title{
    font-size: 25px;
    margin-top: 15px;
}
.bottom_item .heart{
    position: absolute;
    top: 245px;
    left: 250px;
    margin-top: 15px;
}
.bottom_item .money{
    font-size: 20px;
    color: aqua;
    margin-top: 15px;
}

.related_product_bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.bottom_item .image{
    width: 100%;
}
.rating_content{
    margin-top: 15px;
    display: flex;
    justify-content:space-between ;
}
.bottom{
    margin-top: 170px;
    display: flex;
    justify-content: center;
    
}
.ti-email{
    content: "\e75a";
    position: absolute;
    top: 5px;
    left: 10px;
}
.bottom_content_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.bottom_content_center{
    margin-top: 85px;
    display: flex;
    justify-content: space-evenly;
 
}
.bottom_item_center{
    
    display: flex;
     flex-direction: column;
     align-items: center;
   
}
.bottom_item_center .title {
    font-size: 25px;
}
.bottom_item_center div{
    margin-top: 10px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 35px;
}
.footer_item span{
    position: absolute;
    top: 5px;
    left: 15px;
}
.ti-angle-down{
    position: absolute;
    top: 5px;
    left: 80px;
}
.footer_item img{
    width: 30px;
    padding: 10px;
}